/**************************************************************************\
 * help.rc
 * (c) 1994 by Ralf Seidel
 * Set tabs to 3 to get a readable source.
\***************************************************************************/


#include <os2.h>
#include "defs.h"

/*
 *  Help table definition
 */
HELPTABLE   HELP_TABLE
	BEGIN	
	/* Keyword */	/* resource id	*/	
						/* of related  */
						/* window 		*/
   HELPITEM			IDR_MAIN,			SUBTABLE_MAIN,			PANEL_MAIN
	HELPITEM			IDR_GAMEOPTDLG,	SUBTABLE_GAMEOPT,		PANEL_GAMEOPT	
	HELPITEM			IDR_PROGOPTDLG,	SUBTABLE_PROGOPT,		PANEL_PROGOPT
	HELPITEM			IDR_PRODINFODLG,	SUBTABLE_PRODUCTINFO,PANEL_PRODUCTINFO
	END


/*
 *  Main window subtable, includes menu item help
 */
HELPSUBTABLE SUBTABLE_MAIN
	BEGIN
   HELPSUBITEM    IDM_FILE,                  PANEL_FILE
   HELPSUBITEM    IDM_FILELOAD,              PANEL_FILE
   HELPSUBITEM    IDM_FILESAVE,              PANEL_FILE
	HELPSUBITEM		IDM_FILEEXIT,					PANEL_FILE

	HELPSUBITEM    IDM_GAME,           			PANEL_GAME
	HELPSUBITEM    IDM_GAMENEW,        			PANEL_GAME
	HELPSUBITEM    IDM_GAMESTART,					PANEL_GAME
	HELPSUBITEM    IDM_GAMEUNDO,       			PANEL_GAME
	HELPSUBITEM    IDM_GAMEHINT,       			PANEL_GAME

	HELPSUBITEM		IDM_OPTS,						PANEL_OPTS
	HELPSUBITEM		IDM_GAMEOPTS,					PANEL_OPTS
	HELPSUBITEM		IDM_PROGOPTS,					PANEL_OPTS
	HELPSUBITEM		IDM_SAVEOPTS,					PANEL_OPTS

	HELPSUBITEM 	IDM_HELP,						PANEL_HELP
	HELPSUBITEM 	SC_HELPINDEX,					PANEL_HELP
	HELPSUBITEM 	SC_HELPEXTENDED, 				PANEL_HELP
	HELPSUBITEM 	IDM_HELPPRODUCTINFO,			PANEL_HELP
	END

HELPSUBTABLE SUBTABLE_GAMEOPT
	BEGIN
	END

HELPSUBTABLE SUBTABLE_PROGOPT
	BEGIN
	END

HELPSUBTABLE SUBTABLE_PRODUCTINFO
	BEGIN
	END

